.navbar-brand {
   font-family: 'Turret Road', cursive;
   font-weight: bold;
   font-size: 32px;
}

.navbar-nav {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 200;
   font-size: 25px;
}

.jumbotron{
   background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0)), url(../img/img-02.jpg) ;
   background-size: cover;
   height: 500px;
}

.rounded-circle {
   height: 250px;
   width: 250px;
   border: white solid 2px;
   position: relative;
   margin-top: 50px;
}
