.navbar-brand {
   font-family: 'Turret Road', cursive;
   font-weight: bold;
   font-size: 32px;
   color: whitesmoke;
}

.navbar-nav {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 24px;
   color: whitesmoke;
}

.nav-item {
   margin-left: 15px;
}

/* jumbotron */

.jumbotron{
   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.37), rgba(0,0,0,1)), url(../img/img-02.jpg) ;
   background-size: cover;
   height: 550px;
   margin-top: -75px;
}

.display-4 {
   margin-top: 100px;
}

.display-4  span{
   font-weight: bold;
   font-family: 'Arial',sans-serif;
}

.merah {
   text-transform: uppercase;
   background-color: linear-gradient(to left, rgb(32, 2, 2) rgb(129, 27, 27));
   border-radius: 25px;
}

/* profil */
.propil {
   text-align: center;
   color: white;
   font-family: 'Arial', sans-serif;
   margin-top: 20px;
}

.propil img {
   height: 300px;
   width: 300px;
   border: solid white 5px;
}


