@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .active-btn {
      box-shadow: inset -5px 5px 10px #0a0f1b,
                  inset 5px -5px 10px #141f39 !important;
   }

   .active {
      @apply block !important;
      @apply animate-scale-anim;
   }

   .section {
      @apply hidden ;
   }

   .title {
      @apply text-center;
      @apply relative;
   }

   .text-content {
      @apply uppercase;
      @apply font-bold;
   }

   .text-bg {
      @apply absolute;
      @apply text-neon-pink/100;
      @apply -z-10;
      @apply font-extrabold;
      @apply inset-x-0;
      @apply top-1/2;
   }
}

@layer utilities {
   .neuro-effect {
      box-shadow: -6px 6px 12px #0a0f1b,
                  6px -6px 12px #141f39;
   }

   .hexagon-clip {
      -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
   }

   .portfolio-layer {
      @apply absolute;
      @apply z-10;
      @apply bg-neon-pink/70;
      @apply w-full;
      @apply h-64;
      @apply rounded-2xl;
      @apply transition-all;
      @apply duration-1000;
      @apply ease-in-out;
   }
}